<?xml version="1.0" ?>
<model>
    <name>capture_cam</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>kaushik</name>
        <email>kaushikraghupathruni@gmail.com</email>
    </author>

    <description>
        Overhead camera publishing /capture_cam for the network-activations visualization.
    </description>
</model>
